// @import "scrollbar";
@import "shadow";
// @import "h-list";

.v-application {
  font-family: Quicksand, sans-serif;
  line-height: 1.5;
}

.v-application .v-md-plugin-tip.warning {
  color: #6b5900;
  background-color: rgba(255, 229, 100, 0.3) !important;
  border-color: #e7c000 !important;
}

.theme--light.v-application code {
  background-color: transparent;
  color: #fff;
}

.v-application .v-md-editor__menu--list {
  padding-left: 0;
}

.v-application .v-md-editor__toolbar-left, .v-application .v-md-editor__toolbar-right {
  padding: 0;
}